<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Easy Read{% endblock %}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
    <div class="hero-unit">
    <h1>Easy Read</h1>
    <p>An innovitative online word reciting service based on GAE python.</p>
    <p><small> Dictionary powered by StarDict and QQ. </small></p>
    <p>
    <a href="/" class="btn btn-primary btn-large"> get start </a>
    </p>
    </div>

    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span8">
    <!--Sidebar content-->
        {% block sidebar %}
        {% endblock %}
    </div>
    <div class="span4">
    <!--Body content-->
        {% block content %}{% endblock %}
    </div>
    </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    {% block javascript %}{% endblock %}

</body>
</html>
